{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == 'success' %}
            {% set class = 'bg-[#018034]' %}
        {% elseif label == 'error' %}
            {% set class = 'bg-red-500' %}
        {% elseif label == 'info' %}
            {% set class = 'bg-blue-500' %}
        {% else %}
            {% set class = 'bg-[#018034]' %}
        {% endif %}
        
        <div class="fixed top-16 left-0 right-0 p-4 z-50 flash-notification">
            <div class="max-w-3xl mx-auto {{ class }} text-white p-4 rounded-lg shadow-lg flex items-center space-x-4">

                <div class="flex-1 text-center text-sm">
                    {{ message }}
                </div>
                <button type="button" class="text-white hover:text-gray-200 cursor-pointer close-notification" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
        </div>
    {% endfor %}
{% endfor %}

<script>
    document.querySelectorAll('.flash-notification').forEach(function (notification) {
        setTimeout(function () {
            notification.remove();
        }, 7000);
    });

    document.querySelectorAll('.close-notification').forEach(function (button) {
        button.addEventListener('click', function () {
            this.closest('.flash-notification').remove();
        });
    });
</script>
