<div class="bg-white p-8 border-t border-gray-200 mt-18">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-start md:items-center gap-8">
    
    <div>
      <h2 class="text-xl font-bold text-gray-900">Sortir<span class="text-[#fac108]">.com</span></h2>
      <p class="text-sm text-gray-600 mt-2 max-w-sm">
        La plateforme des étudiants qui veulent sortir, se rencontrer, et créer des souvenirs sur leur campus.
      </p>
    </div>

    <div class="flex flex-col md:flex-row gap-6 text-sm">
      <a href="#" class="text-gray-600 hover:text-black transition">À propos</a>
      <a href="#" class="text-gray-600 hover:text-black transition">Mentions légales</a>
      <a href="#" class="text-gray-600 hover:text-black transition">Contact</a>
    </div>


    
  </div>

  <!-- Bas de page -->
  <div class="mt-8 text-center text-xs text-gray-500">
    © 2025 Sortir.com. Tous droits réservés.
  </div>
</div>
