{% extends 'layouts/base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}
<div class="h-full p-8 mt-4 flex items-center justify-center">
  <div class="max-w-2xl w-full p-6 bg-white shadow-lg rounded-lg border border-gray-200 hover:border hover:border-[#fac108]">
    <h1 class="text-2xl font-semibold text-center mb-6">Créer une sortie</h1>
        {{ include('partials/sortie/formSortie.html.twig') }}
  </div>
</div>
{% endblock %}
