{% extends 'layouts/base.html.twig' %}

{% block title %}Modifier la sortie{% endblock %}

{% block body %}
<div class="mt-20 flex items-center justify-center">
  <div class="max-w-2xl w-full p-6 bg-white shadow-lg rounded-lg">
    <h1 class="text-2xl font-semibold text-center mb-6">Modifier la sortie</h1>
        {{ include('partials/sortie/formSortie.html.twig') }}
  </div>
</div>
{% endblock %}
