@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    /* color: #333; */
  }
}
html,
body {
  height: 100%;
}


h1 {
  @apply font-light leading-snug tracking-tight text-slate-800 mx-auto my-6 w-full text-center text-2xl lg:max-w-3xl lg:text-5xl
}

h2 {
  @apply font-light leading-snug tracking-tight text-[#fac108] mx-auto my-4 w-full text-center text-xl lg:max-w-2xl lg:text-3xl
}

.btn-hover-transition {
  @apply bg-[#fac108] text-black py-2 px-4 rounded-md shadow-sm hover:bg-black hover:text-[#fac108] transition duration-300 ease-in-out cursor-pointer focus:outline-none
}
