{% set pastelColors = {
    'green': '#bbf7d0',
    'blue': '#bfdbfe',
    'red': '#fecaca',
    'yellow': '#fef9c3',
    'indigo': '#c7d2fe',
    'rose': '#fbcfe8',
    'lime': '#d9f99d'
} %}
{% set colorName = random(pastelColors|keys) %}
{% set bgColor = pastelColors[colorName] %}

<div class="w-20 h-20 rounded-xl flex items-center justify-center" style="background-color: {{ bgColor }};">
	<p class="text-4xl font-bold">{{ participant.getInitial()|upper }}</p>
</div>
